@page
@{
    ViewData["Title"] = "Chyba";
}
<div class="panel">
    <h1>Došlo k chybě</h1>
    <p class="lead">Omlouváme se, něco se nepovedlo. Zkuste to prosím znovu.</p>
    <a class="btn" asp-page="/Index">Zpět na začátek</a>
</div>
